.vscode
.DS_Store
.idea
.pytest_cache
.venv
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz~
*.pyzw

data/

node_modules/~